.glass-effect {
    background-color: rgba(255, 255, 255, 0.43);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    border: 1px solid rgba(255, 255, 255, 0.55);
    transition: background 0.3s, box-shadow 0.3s;
}

.navbar-brand, .navbar-nav .nav-link {
    color: #000;
}

.navbar-brand:hover, .navbar-nav .nav-link:hover {
    color: #4158D0;
}
